.planner-page {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #333333;
}

.summary-section {
    background: #dddddd;
    padding: 8px 15px 15px;
}

.summary-section .balance {
    color: #9c9c9c;
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}

.summary-section h4 {
    margin: 0px;
    text-transform: uppercase;
    font-size: 21px;
}

.summary-section h5 {
    margin: 5px 0px 0px;
    font-size: 12px;
}

.summary-section h5 span {
    display: inline-block;
    margin-right: 15px;
}

.summary-section h5 span.income {
    color: #019F11;
}

.summary-section h5 span.expense {
    color: #CE2B27;
}

.list-section {
    padding: 0px 15px;
    margin-bottom: 100px;
}

.item {
    padding: 15px 0px;
    border-bottom: 2px solid #333333;
    position: relative;
}

.item .delete {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 15px;
    height: 25px;
    font-size: 18px;
    cursor: pointer;
}

.item .date {
    display: block;
    font-size: 10px;
    margin-bottom: 5px;
}

.item .flex {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.item .flex span {
    display: block;
    width: 50%;
}

.item .flex span.amount {
    font-weight: bold;
    color: #019F11;
} 

.item .flex span.desc {
    font-size: 13px;
}

.item.expense .flex span.amount {
    color: #CE2B27;
}

.button-section {
    text-align: center;
    margin-bottom: 20px;
}

.button-section button {
    color: #fff;
    background: #019F11;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #333333;
    font-size: 12px;
    padding: 0px 25px;
    margin: 0px 15px;
    line-height: 18px;
    box-shadow: 2px 2px 0px #333333;
    cursor: pointer;
}

.button-section button.expense {
    background: #CE2B27;
}

.form-section {
    margin-bottom: 30px;
    padding: 0px 15px;
}

.form-section h4 {
    text-align: center;
    margin: 0px 0px 15px;
}

.form-section .wrapper {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.form-section .wrapper input {
    width: 100%;
    padding: 5px 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 15px;
}

.form-section .actions {
    text-align: center;
}

.form-section .actions button {
    color: #fff;
    background: #019F11;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border: 2px solid #333333;
    font-size: 12px;
    padding: 0px 25px;
    margin: 0px 15px;
    line-height: 18px;
    box-shadow: 2px 2px 0px #333333;
    cursor: pointer;
}

.form-section .actions button.cancel {
    background: #aaa;
}
